*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-normal bg-darkSecondary text-whiteSoft text-sm;
    }
    font {
        font: inherit;
    }
    .primaryTitle {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-thirdly uppercase text-[50px] p-10 text-center w-full h-full mb-[85px] font-bold;
    }
}
